@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?rolwon');
  src:  url('icomoon.eot?rolwon#iefix') format('embedded-opentype'),
    url('icomoon.ttf?rolwon') format('truetype'),
    url('icomoon.woff?rolwon') format('woff'),
    url('icomoon.svg?rolwon#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-inverse:before {
  content: "\e900";
}
.icon-ac:before {
  content: "\e901";
}
.icon-c:before {
  content: "\e902";
}
.icon-factorial:before {
  content: "\e903";
}
.icon-pow:before {
  content: "\e904";
}
.icon-sqrt:before {
  content: "\e905";
}
.icon-percent:before {
  content: "\e906";
}
.icon-minus:before {
  content: "\e907";
}
.icon-equal:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e909";
}
.icon-divide:before {
  content: "\e90a";
}
.icon-multiply:before {
  content: "\e90b";
}
.icon-backspace:before {
  content: "\e90c";
}
