@font-face {
  font-family: "MiSans";
  src: url("MiSans-Regular.ttf") format("truetype"),
    url("MiSans-Regular.woff") format("woff"),
    url("MiSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}